bin/logs/
bin/jre/
.Spark/
.DS_Store
Thumbs.db
*.log
bin/SparkStudio.exe
bin/launcher.res
dist/
build/jre/
build/SparkStudio.exe
build/spark-studio.jar
build/languages/
build/php-sdk/
build/projectExtension.ico
__pycache__/
bin/sparkstudio.exe
.kilo/
